.startTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#startText{
    display: flex;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    width: 700px;
}


#buttensContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.choiceContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

 
  #userChoiceContainer {
      display: flex;
      justify-content: center;
      align-items: center; 
      text-align: center;
      width: 600px;
      flex: 1, 0, auto;
  }

  #playbutton{
    border: solid 20px black;
    background-color: white;
    color: black;
    font-size: 60px;
    font-weight: 1000;
    border-radius: 45px;
    padding: 12px 24px;
  }

  #computerChoiceContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1, 0, auto;
    width: 600px;
  }

  #declearWinnerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
    .declearWinnerText {
        font-size: 70px;
        font-weight: 700;
    }

#buttensContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.TheButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    padding: 8px 16px;
    border: solid 8px gray;
    background-color: rgb(185, 184, 184);
    color: rgb(0, 0, 0);
    border-radius: 30px;
}
   
   .paperButton{
    color: rgb(77, 77, 77);
    border: solid 8px rgb(203, 203, 203);
    background-color: rgb(255, 255, 255);
   }

   .scissorsButton {
    color: rgb(255, 255, 255);
    border: solid 8px #414141;
    background-color: rgb(0, 0, 0);
}

.centerScoreContainer {
    display: flex;
    justify-content: center;
}

.scoreContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    height: 300px;
}


.userScoreContainer {
    display: flex;
    border: solid 15px black;
    border-radius: 50px;
    background-color: gold;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    padding: 18px 32px;
    flex: 0, 1 auto;
}

.computerScoreContainer{
    display: flex;
    flex: 0, 1 auto;
    border: solid 15px black;
    border-radius: 50px;
    background-color: rgb(144, 0, 255);
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    padding: 18px 32px;
}


.choiceShow {
    font-weight: 700;
    font-size: 50px;
}

.someoneWonGameShow{
    font-size: 60px;
    font-weight: 900;
}